# Ch2. Variable

## 할당

In [ ]:
# 여러 이름을 동시에 할당
two = deux = dos = 2
# dos > deux > two 순으로 할당된다.

In [ ]:
#불변 객체의 특징

two = 4
print(two, deux)
# deux에 할당된 값은 2 그대로이다.

In [1]:
two = deux = dos = 2
two = 4
print(two, deux)
id(two), id(deux)

4 2

(2830057433488, 2830057433424)

In [7]:
a = [1,2, 3]
#리스트는 가변객체
b = a
print(a, b)
id(a), id(b)
#id: 컴퓨터 메모리 내에 해당 값이 존재하는 공간을 찾을 때 사용

[1, 2, 3] [1, 2, 3]

(2830137405504, 2830137405504)

# 변수명

- 간결하고 명확해야 좋은 이름이다.
- 코드에는 의미를 함축, 주석에는 의도를 담아야한다.

# 자료형, 형 변환

- int,str,float,bool

str(<변환하고자 하는 값>), int(), float().....

## 주의1
float > int

In [8]:
a = 10

str(a)
float(a)
bool(a)

True

In [9]:
#float > int 변환 시 소수점 버린 형태로 출력된다.

a = 10.7
int(a)

10

In [1]:
x = 4.6
y = 7.9

print(int(x + y)) #12.xx

12

In [2]:
print(int(x) + int(y)) #4+7

11

In [8]:
#str >> int 는 가능
a = int(88.3)
print(a)
type(a)

88

int

### float >> int로 바꾸려 하면 오류 발생함 >> 같은 형식으로 바꿔주기

In [10]:
p = '88.3'
int(p)

ValueError: invalid literal for int() with base 10: '88.3'

In [11]:
float(p)

88.3

# 꿀TIP

## print()

In [12]:
print('orange', 'apple', 'tomato')
#default : 띄어쓰기, 줄바꾸기
print("the next line")

orange apple tomato
the next line

In [14]:
orange = 'orange'
apple = 'apple'
tomato = 'tomato'

#1.
print(orange + apple + tomato)
# + 는 연결 가능하지만 원소들간 공백 사라짐
print(orange, apple, tomato, sep = '', end = '\n')
#default
print(orange, apple, tomato, sep = '', end = '\n\n')
print('EOL')

orangeappletomato
orangeappletomato
orangeappletomato

EOL

In [18]:
#라인 없는 경우 >> ;

orange = 'orange' ; apple = 'apple' ; tomato = 'toamto' ;

In [19]:
num = 5 ; print(num)

5

# input()


- console 에서 사용자에게 값을 입력받는 함수 (입출력 관련)
- 입력 받는 값 타입 문자열 (str)
- 입력 받은 값을 변수에 담아서 사용한다.
- 숫자인 경우 형 변환 해야한다.

In [20]:
#1.
input("What's your name?")

What's your name?'choi'

"'choi'"

In [21]:
#2.
print("What's your name?")
name = input()

What's your name?
choi

* input은 str >> 다른 타입으로 사용하고 싶을 때 >> 형 변환 미리 해두기

In [22]:
age = input("How old are you?")

How old are you?13

In [23]:
type(age)

str

In [24]:
age = int(input("How old are you?"))

How old are you?13

In [25]:
print('당신이 태어난 해는', 2022 - age + 1, '입니다.')

당신이 태어난 해는 2010 입니다.

In [ ]:
## printing

In [26]:
print(f'당신이 태어난 해는 {2022 - age + 1}년 입니다.')
#print(f'{<variavle>}')

당신이 태어난 해는 2010년 입니다.

## Quiz 1

- 섭씨를 입력 받아서 화씨로 변환하기
- "섭씨 * 1.8 + 32 = 화씨"

In [77]:
c = float(input('섭씨를 입력하시오: '))
f = c * 1.8 + 32 
print(f'화씨 온도는 {f}도')

섭씨를 입력하시오: 5
화씨 온도는 41.0도

## Quiz 2

- 택배 정보를 입력 받고 무게에 따른 값 산정하기
- 수취인 성명:
- 수취인 주소:
- 배송비 : 3000원
- 물건 비용 : <계산된 값> 원
- 물건비용은 무게(g)*5
- 입력 값 = 이름, 주소, 무게

In [30]:
print('이름')
name = str(input())

print('주소')
adress = str(input())
#str 생략 가능

print('무게(g)')
gram = float(input())

이름
최여진
주소
강서구
무게(g)
300

In [31]:
cost = 3000
weight_cost = gram * 5
total_charge = int(cost + weight_cost)

In [32]:
print(f'수취인 성명 : {name}')
print(f'수취인 주소: {adress}')
print(f'배송비: {cost}')
print(f'물건 비용: {weight_cost}')
print(f'총 합계: {total_charge}')

수취인 성명 : 최여진
수취인 주소: 강서구
배송비: 3000
물건 비용: 1500.0
총 합계: 4500

# Ch.03 Numbers

## boolean

- True/False
- False 인 값
- if문 (조건식) : "만약 어떤 값이 True면, ..."

In [33]:
bool(0)
#0은 항상 false

False

In [34]:
bool(None)

False

In [35]:
bool('')

False

# Integer

- 분수나 소수가 아닌 정수
- 음수는 '-' 기호를 붙인다 
- default = 양수
- 숫자 앞에는 0을 쓰지 못한다.
  ex. 05....
  +)0bxxx...는 다른 진수 표현법
- 숫자들 사이에 쉼표를 쓰면 오류 
 : 100,000(X) >> 100_000
- 숫자 사이의 언더바는 인식하지 않는다. (무시)

In [ ]:
# a = 09 >> 불가능

In [36]:
a = -50
b = 49
a + b

-1

# 연산자(operator)
- +, -, *, /
- 피연산자(operand : 1, 2 ...)
- 수식(expression)

In [37]:
x = 9
y = 4

#연산
x + y
x - y
x * y
x / y
x ** y #거듭제곱(exponential)

6561

## 나눗셈 = 몫, 나머지 존재 (x/y)

In [ ]:
# x / y #결과물
x // y #몫
x % y #나머지

In [39]:
divmod(x, y) #(몫, 나머지)

(2, 1)

### division by zero 주의!

In [40]:
1 + 9                                       + 10
#숫자 간 공백 있어도 연산은 가능

20

## 복합 대입 연산자(Compound Assigment Operator)

In [41]:
x = 5
x - 3
print(x)

5

## Quiz 1.

- 반지름을 입력 받아 원의 면적 구하기
- 면적 = pi*r 제곱

## Quiz 2.

- 숫자를 입력받고 3의 배수인지 확인하기
- 숫자를 입력 받고 홀수인지 확인하기

In [42]:
r = float(input("반지름의 길이를 입력하세요: "))
area = 3.14 * r ** 2
print("원의 넓이 = ", area)

반지름의 길이를 입력하세요: 5
원의 넓이 =  78.5

In [43]:
num = int(input('숫자를 입력하세요: '))

if num % 3 == 0 :
    print('홀수가 아닙니다.')
else:
    print('홀수가 맞습니다.')

숫자를 입력하세요: 2
홀수가 맞습니다.

## 지수표현

- ex. 1.0e-4
- e의 앞부분은 소수, 정수 둘 다 가능함
- 뒷부분은 정수여야 한다.
- 뒷부분이 음수면 소수점 뒷자리 수를 의미함
- e ,E

In [44]:
1.0e4

10000.0

In [46]:
# 0.0004005 >> 지수로 표현하기

4.005e-4

0.0004005

## if 조건문

### 코드 짜는 팁
- 주석 달기
> #hash, sharp....
> #시작지점부터 라인 끝까지가 주석 처리됨. 라인이 바뀌면 코드로 인식
- """ """ : 긴 주석
- 문자열 안에 있는 sharp는 부호로 인식한다.
> 코드에 대한 설명은 최대한 하지 않는다. 의도 표현... 오류..
- 라인 유지하기
- 들여쓰기 (default space 4개, 탭으 이용해서)
- 논리 구조를 나타내기 때문에 굉장히 중요함.
- 한 라인에 80자 정도 (백슬래시로 라인을 끊어준다)

In [49]:
a = 3
#주석입니다.

"""
 주석 1 
 주석 2 
 주석 3 
"""

print(a)

3

In [50]:
print('hey, there#')

hey, there#

## if

- if:<실행할 코드>

In [51]:
if 3 != 1:
    print("두 수는 같지 않다")

두 수는 같지 않다

### if - else 

if <실행할 코드 1>:
else <실행할 코드 2>:

In [52]:
if 3 != 1 :
    print("두 수는 같지 않다")
else:
    print("두 수가 같다")

두 수는 같지 않다

### if - elif - else

if <조건식 1>:
    <실행할 코드 1>
    
elif <조건식 2>:
    <실행할 코드 2>
    
else:
    <실행할 코드3>

In [53]:
a = 4

if a < 3 :
    print('3보다 작다')
elif a == 2 :
    print('3이다')
else:
    print('3보다 크다')

3보다 크다

In [54]:
if a < 3 :
    print('3보다 작다')
if a == 3 :
    print('3이다')
if a > 4 :
    print('3보다 크다')

# 비교연산자

- x < y
- x > y
- x >= y
- x <= y
- x == y (값이 같다)
- x != y
- x is y (값, 메모리 주소)
- x is not y

# Quiz1

- 시험 점수를 입력 받고, 80점 이상이면 True, 아니면 False 반환하기
- 시험 점수를 입력 받고, 95점 이상 A+, 85점 이상 B+, 나머지 F로 출력하기

In [55]:
score = int(input('시험 점수를 입력하세요. : '))
if score > 80 :
    print('True')
else:
    print('False')

시험 점수를 입력하세요. : 90
True

In [56]:
score = int(input('시험 점수를 입력하세요: '))
if score >= 95 :
    print('A+')
elif score >= 90:
    print('A')
elif score >= 85:
    print('B+')
else:
    print('F')

시험 점수를 입력하세요: 91
A

# Quiz2

- 아이디와 비번 입력 받아서 둘다 일치하면 로그인하기
- 아이디, 비번 각자 정해놓기
- 일치하지 않을 때에는 창의적으로 어떤 걸로 반환하기

In [ ]:
my_id = 'boo'
my_pw = '1004'

id = input('아이디를 입력하세요: ')
pw = input('비밀번호를 입력하세요: ')

if my_id == id :
    if pw == my_pw :
        print('로그인되었습니다.')
        
    else:
        print('비밀번호를 확인하세요')
else:
    print('존재하지 않는 아이디입니다.')

# 논리 연산자

- and, & : 둘다 참인 경우 True
- or : 둘 중 하나만 참이어도 True
- not : 참 > False, 거짓 > True

# 연습문제1

- 3.1 1시간은 몇 초인가? 대화식 인터프리터를 계산기로 사용해서 1시간(60분)에 1분(60초)을 곱하기
- 3.2 계산한 결과를 seconds_per_hour 변수에 저장
- 3.3 1일은 몇 초인가? seconds_per_hour 변수를 사용
- 3.4 계산한 결과를 seconds_per_day 변수에 저장
- 3.5 부동소수점(/) 나눗셈을 사용해서 seconds_per_day를 seconds_per_hour로 나누기
- 3.6 정수(//) 나눗셈을 사용해서 seconds_per_day를 seconds_per_hour로 나누기. 
- 3.7 3.5 문제 결과에서 본.0 부분을 제외하고 결과가 같은가

In [57]:
# 3.1
print(60*60)

3600

In [71]:
#3.2
seconds_per_hour = 3600

#3.3
print(24 * seconds_per_hour)

86400

In [72]:
#3.4
seconds_per_day = 86400

#3.5
r1 = seconds_per_day / seconds_per_hour

#3.6
r2 = seconds_per_day // seconds_per_hour

#3.7
bool(r1 == r2)

True

# 연습문제2

- 4.1 1~10 사이의 숫자를 선택해서 secret 변수에 할당. 그리고 1~10 사이의 다른 숫자를 선택해서 guess 변수에 할당. if, elif, else 문을 사용하여 guess 변수가 secret 변수보다 작으면 'too low', 크면 'too high, 일치하면 'just right'를 출력

- 4.2 True나 False를 small과 green 변수에 할당. if, else 문을 사용하여 작은 것(small)과 녹색(green)을 기준으로 체리, 완두콩, 수박, 호박(cherry, pea, watermelon, pumpkin)을 출력해보기 (예: 체리는 작고 녹색이 아님, 완두콩은 작고 녹색, 수박은 크고 녹색, 호박은 크고 녹색이 아님)

In [73]:
#4.1

secret = int(input('1~10 사이의 숫자를 선택하세요: '))
guess = int(input('1~10 사이의 다른 숫자를 선택하세요: '))

if guess < secret :
    print('too low')
elif guess > secret :
    print('too high')
else :
    print('just right')

1~10 사이의 숫자를 선택하세요: 4
1~10 사이의 다른 숫자를 선택하세요: 5
too high

In [74]:
#4.2

small = input('작다면 True, 작지 않다면 False를 입력하세요: ')
green = input('초록색이라면 True, 그렇지 않다면 False를 선택하세요: ')

if small == True and green == True :
    print('pea')
elif small != True and green == True :
    print('watermelon')
elif small == True and green != True :
    print('cherry')
else:
    print('pumpkin')

작다면 True, 작지 않다면 False를 입력하세요: True
초록색이라면 True, 그렇지 않다면 False를 선택하세요: True
pumpkin